@charset "utf-8";

* {
    box-sizing: border-box;
    list-style: none;
}

body {
    padding: 0;
    margin: 0;
    background-color: #FEFEFE;
    font-family: "inter","merriweather",Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    height: 100vh;
    counter-reset: sommaire;
}
/****************************************
    Responsives interactives
******************************************/
@media screen and (max-width: 800px) {
    .conteneur {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: #EEE;
        padding: 20px !important;
    }
}
@media screen and (min-width: 800px) and (max-width: 1024px) {
    .conteneur {
        padding: 20px;
        margin: 0 auto 100px auto;
    }
} 

@media screen and (min-width: 1024px) {
    .conteneur {
        width: 1024px;
        display: flex;
        flex-direction: column;
        margin: 0 auto 100px auto;
    }
}

/******************************************
    Global Style
    ***************************************/
ul {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 10px;
    font-size: 12px;
    font-family: "inter","merriweather",Georgia, 'Times New Roman', Times, serif;
}

ul > li.titre1::before {
        content: counter(sommaire) ". ";
        counter-increment: sommaire;
        font-family: inherit;
        font-size: inherit;
}
li {
    font-size: 1.4em;
    line-height: 1.6em;
    margin-bottom: 0.4em;

}
li.ending {
    display: block;
    text-align: right;
    font-style: inherit;
    margin: 1em 0 4em 0;
    border-top: solid 2px #333;
}
li.titre1 {
    display: block;
    width: 100%;
    font-family: "merriweather",Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    line-height: 2.2em;
    padding: 0px 0px;
    font-weight: 700;
    margin-bottom: 0.5rem;
    border-bottom: solid 2px #9e0332;
}
li.titre2 {
    font-size: 1.6em;
    line-height: 1.8em;
    display: block;
    margin: 0;
    margin-bottom: 0.5rem;
    font-weight: 400;
    color: #9e0332;
}
li.titre3 {
    font-size: 1.6em;
    line-height: 1.8em;
    display: block;
    margin: 0;
    margin-bottom: 0.5rem;
    font-weight: 400;
    color: #9e0332;
    padding-left: 1em;
}

li.coding {
    font-family: Consolas,'Liberation Mono',Courier,monospace;
    color: #333;
    background: #f8f8f8;
    border-radius: 3px;
    padding: 5px 8px;
    border: solid 1px #e0e0e0;
    border-radius: 3px;
}
li.coding_title {
    margin:0;
    padding: 2px 8px;
    font-size: 0.8rem;
    background-color: #676767;
    color: #FFFFFF;
    border-radius: 5px 5px 0 0;
}

p {
    display: block;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

h1 {
    display: block;
    width: 100%;
    font-family: "monserrat",Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 26px;
    padding: 4px 2px;
    margin: 0;
    margin-bottom: 10px;
    width: 100%;
}
h1.title {
    margin-bottom: 15px;
    padding:10px 10px;
    text-align: center;
    background-color: #333;
    color: #FFFFFF;
    border-bottom: solid 5px #9e0332;
    border-radius: 3px;;
}

ul.listing {
    counter-reset: listing;
}
ul.listing li::before {
    content: counter(listing) ". ";
    counter-increment: listing;
    font-family: inherit;
    font-size: inherit;
}
ul.listing li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul {
    list-style: none;
    padding: 0;
    margin: 10px 10px;
    box-sizing: border-box;
}
li.title {
    font-size: 1.5rem;
    display: block;
    font-size: inherit;
    line-height: 18px;
    margin: 0;
    margin-bottom: 0.4em 0 0.8em 0;
    font-weight: 400;
    color: #003d8d
}

vert {
    color: #148833;
}
blue {
    color: #0a3d8a;
}
rouge {
    color: #c30;
}
img {
    width: 100%;
    height: auto;
    display: block;
    max-width: 300px;
    max-height: 300px;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: #003d8d;
}
a:hover {
    text-decoration: underline;
}

img {
    display: block;
    max-width: 100%;
    max-height: 500px;
    height: auto;
    width: auto;
}